# THIS FILE CONTAINS THE CONFIGURATION FOR mpiDOCK.py
# 
# This configuration file is divided into 2 primary sections.
# The first section sets user configurations needed for each
# instance of mpiDOCK. The second section contains general
# configuration variables pointing toward needed executables,
# directories, and everything else needed to operate mpiDOCK.
#
# Any variables that specify paths may be relative
# paths (relative to the mpiDOCK install location,
# ex. ./receptors) or they may be absolute paths such as
# /home/user/Documents/receptors.
#
#
#                ********************
#                *USER CONFIGURATION*
#                ********************
#
# The following section is used by the user to specify files,
# directories, job names, etc. for each individual use of
# mpiDOCK. Variables are in the form name=value
#
# The variables that may be set in this section are as
# follows:
#
#	vina_config : Path to the configuration file to be used
#				  when operating vina (defaults to
#				  ./vina_conf.txt).
#
#	receptors_dir : Path to the directory containing .pdbqt
#					receptor files to be docked (defaults to
#					./receptors).
#
#	ligands_dir : Path to the directory containing the .pdbqt
#				  ligand files to dock (defaults to ./ligands).
#
#	output_dir : Directory to store output files (defaults to
#				 ./output)
#
#	ligand_db_name : (optional) Name of the database being used.
#					 For example, NCI-Diversity. Useful when
#					 you are operating with multiple ligand sets
#
#	run_vina : yes/no value indicating whether or not to perform
#			   vina docking
#
#	clean_temp_files : yes/no value to indicate whether or not to
#					   clean up (delete) files generated while
#					   operating mpiDOCK that are not required.
#
vina_config=./Vina/conf.txt
receptors_dir=./receptors
ligands_dir=./ligands
output_dir=./output
ligand_db_name=NCI-Diversity
run_vina=yes
clean_temp_files=yes
#
#
#                   ***********************
#                   *GENERAL CONFIGURATION*
#                   ***********************
#
# The following section is used to specify paths to the install
# locations for the various programs mpiDOCK utilizes. It also
# specifies other parameters necessary to operate mpiDOCK.
#
# The variables that may be set in this section are as
# follows:
#
#	vina : path to the vina executable
#
vina=./Vina/vina