# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.o[0-9]*
*.po[0-9]*

#RFScore executable
py_src/src/bin/rfscore/rf-score-vs
py_src/src/bin/archives/rfscore.tar.gz